.clear {
    clear: both;
}
#lista {
    margin-top: 20px;
}

/* itens */
#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#sortable li { cursor:move; margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em;  }
#sortable li span { position: absolute; margin-left: -1.3em; }

/* fotos */
#sortable_photos { list-style-type: none; margin: 0; padding: 0; width: 100%; display:table; }
#sortable_photos li {cursor:move; margin: 3px 3px 3px 3px; padding: 1px; float: left; width: 100px; height: 100px; font-size: 4em; text-align: center; overflow:hidden }
#sortable_photos li img.hor { width:100%; }
#sortable_photos li img.ver { height:100%; }