/*ESTILOS PAGINA DE IMPRESSAO DE RECIBOS*/
* {
    background:transparent !important;
    color:#000 !important;
    text-shadow:none !important;
    filter:none !important;
    -ms-filter:none !important;
}

body {
    margin:0;
    padding:0;
    line-height: 1.4em;
}
p {
    widows: 3;
    orphans: 3
}

@page {
    margin: 0.5cm;
}

.page-break { 
    page-break-before: always; 
}

.box-parcela {
    border: solid 1px #333333;
    height: 5.4cm;
    margin: 0.2cm auto;
}